  
.hero{
  background-image: url('../../static/IronMan.jpg');
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


  .searchBox-appear{
    transform: translatey(-100vh);
  }

  .searchBox-appear-active{
    transform: translatey(0vh);
    transition: transform 0.8s;
  }

  .searchBox-appear-done{
 
  } 
  
  .searchBox-exit {
    transform: translatey(100vh);
    transition: transform 0.8s;
  }
  
  .searchBox-exit-active {
    opacity: 1;
    /* transform: scale(0.9); */
    /* transition: opacity 300ms, transform 300ms; */
  }
  